body {
    margin: 0;
    padding: 0;
    background-color: #e3f0ff;
    font-family: Arial, sans-serif;
}
.navbar {
    margin-top: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.left {
    font-size: 24px;
    color: #2d2c62;
    padding-left: 86px;
    font-size: 30px;
}
.middle {
    display: flex;
    gap: 65px;
    padding-left: 10%;
}
.middle a, .right a{
    text-decoration: none;
    color: #2d2c62;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: lighter;
}
.right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.right button{
    padding: 12px 20px;
    margin-right: 80px;
    background-color: #5654b3;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    font-family: Montserrat;
}
.content{
    display: flex;
}
img{
    width: 970px;
    height: 670px;
}
.box1{
    padding-left: 7%;
    margin-top: 7%;
}
.box2{
    margin-left: -7%;
    margin-top: 2%;
}
.box1 h2{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 900;
    white-space: nowrap;
}
.box1 p{
    font-family: Montserrat;
    line-height: 1.7;
    font-size: 16px;
    margin-top: -5%;
    color: #787c98;
}
.container {
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 6%;
}
.email-input {
    flex: 2;
    width: 66.66%;
    padding: 18px;
    border: 1px solid #ffffff;
    border-radius: 5px 0 0 5px;
}
.email-input::placeholder{
    color: #a6aac6;
    font-family: Montserrat;
    padding-left: 10px;
    font-size: 14px;
}
.learn_more_button {
    flex: 1;
    width: 33.33%;
    padding: 18px;
    background-color: #5654b3;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    font-family: Montserrat;
}
.footer {
    margin: 1% 5%;
    display: flex;
    gap: 15px;
    margin-top: 33%;
    margin-left: 0%;
}
.icons {
    width: 30px;
    height: 30px;
    background-color: #5654b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.fab {
    font-size: 16px;
    color: white;
}