body {
    margin: 0;
    padding-top: 70px;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
    position: fixed;
    top: 0;
    height: 90px;
    z-index: 1000;
    width: 100%;
    font-size: 19px;
}
.navbar-icon {
    float: left;
    padding: 14px 45px;
}
.navbar-icon img {
    width: 80px;
    height: 40px;
}
.navbar-search {
    float: right;
    padding: 14px 20px;
}
.navbar-search img {
    width: 25px;
    height: 25px;
}
.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.navbar-item {
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}
.navbar-item:hover {
    background-color: #555;
}
.block1-content {
    font-family: Oswald;
    font-size: 50px;
    position: absolute;
    top: 65%;
    left: 18%;
    transform: translate(-50%, -50%);
    color: white;
}
.block1-content h1{
    font-size: 100px;
    font-family: Oswald;
    margin-bottom: 10px;
    padding-left: 160px;
}
.block1-content p{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 200;
    padding-left: 160px;
    margin-top: 0px;
}
.register-button {
    display: block;
    margin-top: 20px;
    margin-left: 160px;
    font-family: Oswald;
    font-size: 23px;
    padding: 10px 80px;
    background-color: #e8631c;
    color: white;
    border: none;
    border-radius: 4px;
}
.block2{
    background-color: #e8631c;
    height: 120vh;
    margin-top: -62px;
}
.block2 h2,.text h2{
    font-family: Oswald;
    font-size: 70px;
    color: white;
    -webkit-text-stroke: 1px white;
    padding-top: 80px;
    padding-left: 70vh;
}
.text p{
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 30px;
    margin-top: -1.8%;
}
.flex-container {
    display: flex;
    gap: 66px;
    padding-left: 105px;
    padding-top: 65px;

}
.box {
    width: 370px;
    height: 494px;
    background-color: #2c2c2c;
    text-align: center;
}
.box img{
    width: 370px;
}
.box h2,.box1 h2{
    font-family: Oswald;
    font-size: 30px;
    position: absolute;
    padding-top: 0%;
    padding-left: 9%;
    color: white;
}
.asia h2{
    padding-left: 11%;
}
.box p{
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 21px;
    position: absolute;
    padding-top: 60px;
    padding-left: 40px;
    color: white;
} 
.block3{
    background-color: #303030;
    height: 120vh;
}
.block3 h2{
    padding-left: 42.5%;
    margin-top: 0%;
}
.box1 img{
    align-items: center;
    padding-top: 17%;
    width: 110px;
}
.box1{
    background-color: #e8631c;
    border-radius: 10px;
    text-align: center;
}
.box1 h2{
    padding-left: 9.5%;
    font-size: 40px;
    padding-top: 2.8%;
}
.prof h2{
    padding-left: 5.5%;
}
.ult h2{
    padding-left: 8%;
}
.box1 p{
    padding-top: 6.6%;
}
.price-button {
    display: block;
    font-family: Oswald;
    font-size: 25px;
    padding: 15px 120px;
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 54%;
    margin-left: 6.7%;
}
.block4{
    background-color: #e8631c;
    height: 115vh;
    display: flex;
}
.b4img img{
    width: 50vw;
    height: 115vh;
}
.b4content h2{
    font-family: Oswald;
    font-size: 80px;
    color: white;
    padding-left: 15%;
    margin-top: 50%;
}
.b4content p{
    font-family: Montserrat;
    font-size: 29.8px;
    color: white;
    padding-left: 15%;
    white-space: nowrap;
    margin-top: -6%;
}
.rdmore-button {
    font-family: Oswald;
    font-size: 29px;
    padding: 12px 99px;
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 15%;
    margin-top: 6%;
}
.b5 img{
    margin-left: 29.25%;
}
.b5 p{
    font-size: 25px;
    margin-left: 6.6%;
}
.b5 h2{
    margin-left: 6.6%;
    margin-top: 58%;
}
.b5 .rdmore-button{
    margin-left: 21%;
}
.block6{
    background-color: #2c2c2c;
    height: 115vh;
    text-align: center;
    margin-top: -4.7%;
}
.b6content h2{
    font-family: Oswald;
    font-size: 82px;
    color: white;
    padding-top: 12.4%;
}
.b6content p{
    font-family: Montserrat;
    font-size: 30px;
    color: white;
    margin-top: -2.5%;
}
.b6details{
    display: flex;
    margin-left: 12.8%;
    gap: 16%;
    margin-top: 6.5%;
}
.b6details h2{
    font-family: Oswald;
    font-size: 73px;
    color: white;
}
.b6details p{
    font-family: Montserrat;
    font-size: 41.6px;
    color: white;
    margin-top: -55px;
}
.block7{
    height: 115vh;
    text-align: center;
}
.block7 img{
    height: 115vh;
    width: 100vw;
    filter: sepia(100%) saturate(1000%) hue-rotate(340deg)
}
.block7 p{
    position: absolute;
    margin-top: -44%;
    font-family: Montserrat;
    font-size: 43.8px;
    margin-left: 19.7%;
    color: white;
}
.block7 h2{
    position: absolute;
    margin-top: -29%;
    margin-left: 37%;
    font-family: Oswald;
    font-size: 65px;
    color: white;
}
.block8{
    height: 70vh;
    background-color: #e8631c;
    margin-top: -4.8%;
}
.container {
    display: flex;
    align-items: center;
    width: 60%;
    margin-top: 3.5%;
    margin-left: 24%;
}
.block8 .email-input {
    width: 60%;
    padding: 23px 30px;
    border: 1px solid #ffffff;
    border-radius: 5px 0 0 5px;
}
.email-input::placeholder{
    color: #acacac;
    font-family: Montserrat;
    font-size: 20px;
}
.learn-more-button {
    font-size: 25px;
    height: 64px;
    width: 220px;
    background-color: #2c2c2c;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    font-family: Oswald;
}
.block8 h2{
    text-align: center;
    font-family: Oswald;
    font-size: 82px;
    color: white;
    padding-top: 6.9%;
}
.block8 p{
    margin-top: -3%;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    color: white;
}
.block9{
    height: 58vh;
    background-color: #2c2c2c;
    display: flex;
}
.icons{
    display: flex;
    padding-top: 10px;
    gap: 15px;
}
.b9right{
    display: flex;
    padding-top: 5.5%;
    gap: 40px;
    padding-left: 13%;
}
.block9 h2{
    font-family: Oswald;
    font-size: 30px;
    color: white;
}
.block9 p{
    font-family: Montserrat;
    font-size: 25px;
    color: white;
}
.b9left{
    padding-left: 3.7%;
    padding-top: 5.5%;
}
.b9right p{
    margin: 14px 0;
}




